*,::after,::before{
  margin: 0;
  padding: 0;
}
.header{
  background:rgb(255, 255, 255);
  display: flex;
  padding: 0px 0px;
  font-family: sans-serif;
  justify-content: space-between;
  z-index: 9;
}
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left-header {
  padding: 10px 15px;
  font-size: 20px;
  align-items: flex-start;
 }
.logo{
  font-weight: bold;
  font-size: 30px;
  padding: 0px 25px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
 }
.a{
  text-decoration: none;
 }
.transparent-text{
  font-family: sans-serif;
  text-transform: uppercase;
  background: #494949;                           
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}
.section i{
  background-color: none;
  text-decoration: none;
  padding: 7px;
  font-size: 1.5em;
  color:#494949;
  transition: 0.3s;
 }
 .section i:hover{
  color:rgb(39, 39, 39);
    
 }
 .right-header{
  padding: 10px 15px;
  font-size: 20px;
  align-items: flex-end;
 }
.sidenav{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color: #ccc7ce;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #494949;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}
.sidenav a:hover {
  color: white;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 48px;
  margin-left: 50px;
}
#main {
  transition: margin-left 1s;
  padding: 0px;
  min-height: 100%;
  max-width: 100%;
}
.classnav{
  margin-right: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
 .box{
  box-sizing: border-box;
  padding-bottom: 50px;
}
.decor{
  max-width: 400px;
  margin: 50px auto 0;
  background: #dddddd;
  border-radius: 30px;
}
.form-inner {
  padding: 60px;
  box-sizing: border-box;
}
.form-inner input{
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: white;
  color: #000000;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: sans-serif;
  width: 86%;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: grey;
  color: white;
  font-size: 14px;
  width: 100%;
}
.form-inner h3 {
  margin-top: 0;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: grey;
  text-align: center;
  margin-bottom: 30px;
}
 .container{
  padding: 10px 150px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .title-line{
  width: 100%;
  height: 100%;
}
.title-line img{
  border-radius: 10px;
}
.new{
  text-align: center;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.first-line, .second-line, .third-line{
  flex-direction: row;
  justify-content: center;
  margin-left: 20px 10px 1px 10px;
}
.first-line img, .second-line img, .third-line img{
  width : 100%;
  height: auto; 
  border-radius: 10px; 
}
.zoom-img{
  transition: transform 0.5s;
}
.zoom-img:hover{
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
}
.product{
  margin-top: 10px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
}
.product a{
  text-decoration: none;
  color:black;
  transition: 0.3s;
  white-space: nowrap;
}
.product a:hover{
  color: black;
}
.price{
  margin-bottom: 15px;
}
.name{
  font-size: 17px;
  margin-bottom: 3px;
  text-decoration: none;
  margin-top:20px ;
}
.price{
  text-decoration: none;
  font-size: 13px;
}
.product del{
  font-size: 12px;
  color: #484848;
}
.scroll{
  position: fixed;
  display: none;
  z-index: 9999;
  bottom: 15px;  
  right: 45px;
  font-size: 2.9em;
  text-decoration: none;
}
.totop i{
  text-decoration: none;
  color: #494949;
}
.totop i:hover{
  color:rgb(39, 39, 39);
  transition: 0.3s;
}
.small img{
  width: 40%;
  height: auto;
  border: 1px solid red;
}
.small :hover{
  color:black;
}
.m-image img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.product-info{
  text-align: center;
}
.product-info h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color:#494949;
}
.product-info p{
  font-size: 20px;
  color: #484848;
  padding: 10px;
}
.product-info hr{
  border: 0.5px solid;
  color:#494949;
  margin: 1rem 0;
}
.product-size-button{
  color: #000;
  border: 1px solid #000;
  font-size: 1rem;
  width: auto;
  line-height: 33px;
  display: inline-block;
  border-radius: 7px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 0 4px;
  min-width: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.product-size-button:hover{
  border: 1px solid #494949;
  background-color: #ccc7ce;
}
.buy-button{
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
  color: #494949;
  font-family: Arial, Helvetica, sans-serif;
  border:1px solid #ccc7ce;
  width: 220px;
  line-height: 50px;
  background-color: #ccc7ce;
  margin-top: 15px;
  transition: 0.3s;
}
.buy-button a{
  color: #000;
}
.buy-button i{
  padding-right: 6px;
}
.buy-button:hover{
 color:white;
 background-color:#5cb85c; 
 transition: 0.3s;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px ;
  width: auto;
  background-color:#494949;
}
.footer-left{
  flex-direction: column;
}
.footer-right{
  flex-direction: column;
}